/* .logo-slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 20px 0;
}

.logo-track {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.logo-track img {
  width: 50px;
  margin: 0 30px;
  object-fit: contain;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/*
@media (max-width: 768px) {
  .logo-track img {
    width: 100px;
    margin: 0 15px;
  }
} 
*/
