# .gitignore
/Frontend/node_modules
/backend/node_modules
/Frontend/build
/Frontend/.env
/backend/.env
*.log
backend/tmp/invoice-INV-1001.pdf
backend/utils/TestGenerateInvoice.js
backend/utils/testSendEmail.js
